html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: Arial, sans-serif;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

textarea {
	resize: none;
}

body {
	line-height: 1;
}

html,
body {
	height: 100%;
}

.height-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.content-wrapper {
	flex: 1 0 auto;
	width: 100%;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
	font-size: 22px;
	margin: 15px 0;
}

h2 {
	font-weight: bold;
	font-size: 18px;
	margin: 10px 0;
}

p {
	margin: 10px 0;
}

a {
	color: #09f;
	text-decoration: none;
}

a:hover {
	color: #4bf;
}

/**********************************************************************************/

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: auto;
}

.header-wrapper,
.wrapper {
	width: 70%;
}

.invisible {
	display: none;
}

body,
header,
footer {
	width: 100%;
}

.page-header {
	margin-bottom: 10px;
}

.page-nav,
.page-footer {
	padding: 10px 0;
	width: 100%;
	background: #666;
	box-shadow: 0 0 5px 2px #666;
	color: #fff;
}

.page-nav {
	margin-bottom: 10px;
}

.page-footer {
	margin-top: 15px;
	flex: 0 0 auto;
}

.search-input {
	width: 75%;
	font-size: 15px;
}

.search-submit {
	width: 15%;
}

.main-content {
	flex-grow: 1;
	justify-content: flex-start;
}

@media (min-width: 900px) {
	.header-wrapper,
	.wrapper {
		width: 630px;
	}
}

@media (max-width: 800px) {
	body {
		font-size: 16px;
	}

	.header-wrapper,
	.wrapper {
		width: 85%;
	}

	.header-wrapper {
		flex-direction: column;
	}

	.page-nav {
		padding: 15px 0;
	}
}

@media (max-width: 450px) {
	body {
		font-size: 18px;
	}

	.wrapper {
		width: 100%;
	}

	.page-nav__item {
		text-align: center;
		margin: 10px 0;
	}
}

/**********************************************************************************/

.auctions {
	padding: 20px 0;
	width: 100%;
}

.auction-box {
	box-sizing: border-box;
	background: #eee;
	box-shadow: 0 0 5px 0 #999;
	border-radius: 10px;
	color: #000;
}

/*
old version
.auction-box {
	box-sizing: border-box;
	background: #333;
	box-shadow: 0 0 5px 0 #eee;
	border: 5px solid #eee;
	border-radius: 15px 0 15px 0;
	border-image:
		linear-gradient(to right bottom, transparent 40%, #fc0 50%, transparent 60%) 5;
	color: #fff;
}
*/

.auction {
	margin-bottom: 30px;
	width: 30%;
	padding: 10px;
	transition-duration: .5s;
}

.auction__link {
	width: 100%;
	height: 100%;
	align-items: flex-start;
	color: #000;
	text-decoration: none;
}

.auction:hover {
	box-shadow: 0 0 10px 0 #ddd;
	cursor: pointer;
	transform: scale(1.05);
}

.auction:hover .auction__link {
	color: #4bf;
}

.auction__link * {
	margin: 5px 0;
}

.auction-image__listed {
	margin: 0;
	width: 100%;
}

.image-logo {
	margin: 15px 0;
}

@media (max-width: 800px) {
	.auctions {
		justify-content: space-around;
	}

	.auction {
		width: 40%;
		font-size: 16px;
	}

	footer {
		font-size: 14px;
	}
}

@media (max-width: 600px) {
	.auction {
		width: 70%;
		font-size: 16px;
	}
}

@media (max-width: 450px) {
	.auction {
		width: 80%;
	}
}

/**********************************************************************************/

.auction-product {
	padding: 20px;
	align-items: flex-start;
}

.product-image-box {
	width: 45%;
	margin: 0 auto;
}

.product-image {
	width: 100%;
}

.product-description {
	margin: 0 auto;
	height: 100%;
	width: 45%;
	text-align: justify;
	min-height: 350px;
}

.product-description__text {
	flex-grow: 1;
}

.product-control {
	padding: 10px;
	background: #222;
	border-radius: 15px;
	font-size: 15px;
	width: 100%;
	align-items: flex-start;
	color: #fff;
}

.product-control__cost-form {
	width: 100%;
	margin-top: 5px;
}

.product-control__elem {
	width: 45%;
}

.product-control__bet {
	text-align: left;
}

@media (max-width: 1200px) {
	.product-description {
		width: 90%;
		margin: 15px auto;
		min-height: 0;
	}

	.product-image-box {
		width: 90%;
		margin: 15px auto;
	}
}

@media (max-width: 450px) {
	.product-control {
		align-items: center;
	}
	
	.product-control__elem {
		width: 100%;
		margin: 5px 0;
	}

	.product-control__bet {
		text-align: center;
	}
}

/*****************************************/

.button {
	padding: 10px 0;
	font-size: 12px;
	background: #09f;
	text-align: center;
	border-radius: 10px;
	border: 1px solid #aaa;
	color: #444;
	text-decoration: none;
	transition-duration: .5s;
}

.button:hover {
	color: #000;
	border-color: #000;
	cursor: pointer;
}

input.button[disabled],
input.button[disabled]:hover {
	color: #999;
	border-color: #999;
	background: #444;
	cursor: auto;
}

.input-box {
	border: 1px solid #999;
	padding: 8px 5px;
	color: #444;
}

.user-image {
	margin: 5px;
	border-radius: 100px;
	width: 30px;
	height: 30px;
	background: #fff;
}

/******************************************/

.login-form {
	box-sizing: border-box;
	align-self: center;
	width: 50%;
	padding: 10px;
	margin: 20px 0;
	font-size: 18px;
}

.login-label {
	width: 100%;
	margin: 5px 0;
}

.login-input {
	width: 100%;
	margin: 10px 0;
	padding-left: 5px;
	padding-right: 5px;
}

.login-submit {
	width: 40%;
	font-size: 16px;
	margin-bottom:15px;
}

@media (max-width: 1200px) {
	.login-form {
		width: 60%;
	}
}

@media (max-width: 1000px) {
	.login-form {
		width: 70%;
	}
}

@media (max-width: 700px) {
	.login-form {
		width: 80%;
	}

	.login-submit {
		width: 100%;
	}
}

@media (max-width: 450px) {
	.login-form {
		width: 100%;
	}
}

/**************************************************/
.dialog-window {
	width: 100%;
	flex-grow: 1;
}

.dialog-messages {
	display: block;
	overflow-y: scroll;
	max-height: 600px;
	width: 100%;
	border-radius: 10px 10px 0 0;
	background: #eee;
	flex-grow: 1;
}

.message {
	width: auto;
	padding: 10px;
	background: #aaa;
	border-radius: 10px;
	margin: 5px 5px;
}

.message__recieved {
	float: left;
}

.message__sent {
	float: right;
	background: #ddd;
}

.dialog-control {
	width: 100%;
}

.dialog-input {
	width: 82%;
	border-radius: 0 0 0 10px;
	margin-bottom: 0;
}

.dialog-send {
	width: 15%;
}

@media (max-width: 550px) {
	.dialog-input {
		width: 100%;
		padding: 5px 5px 25px 5px;
		border-radius: 0;
		font-size: 16px;
	}
	
	.dialog-send {
		width: 100%;
		border-radius: 0 0 10px 10px;
		margin-bottom: 0;
	}

	.message {
		width: 90%;
		align-self: center;
	}
}

/*******************************************************************/

.personal-nav,
.tabs {
	width: 100%;
}

.personal-nav {
	margin: 10px 0;
}

.tab {
	padding: 0 5px;
	font-size: 95%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	flex-grow: 1;
	height: 35px;
}

.tab:last-child {
	border: none;
}

.dialog-list {
	display: block;
	width: 100%;
	box-sizing: border-box;
	max-height: 600px;
	overflow-y: scroll;
}

.dialog-list__item {
	width: 100%;
	border-bottom: 1px solid #000;
	transition-duration: .5s;
}

.dialog-list__item:last-child {
	border: none;
}

.dialog-list__link {
	padding: 10px  5px;
	box-sizing: border-box;
	align-items: center;
}

.dialog-preview {
	flex-grow: 1;
	transition-duration: .5s;
	width: 60%;
	margin-right: 15px;
}

.dialog-preview__name {
	width: 50%;
	text-align: left;
}

.dialog-preview__time {
	width: 50%;
	text-align: right;
	color: #bbb;
	font-size: 80%;
}

.dialog__user-image {
	width: 50px;
	height: 50px;
	border: 1px solid #666;
	box-shadow: 0 0 10px 0 #666;
	margin-right: 20px;
	transition-duration: .5s;
}

.dialog-preview__message {
	width: 100%;
	color: #000;
	background: #ddd;
	padding: 10px;
	border-radius: 5px;
}

.dialog-list__item:hover {
	background: #444;
}

.dialog-list__item:hover .dialog-preview {
	transform: scale(1.01);
}

.dialog-list__item:hover .dialog__user-image {
	transform: scale(1.05);
}

.create__button {
	width: 40%;
}

@media (max-width: 450px) {
	.tab {
		width: 100%;
		border-right: none;
		border-bottom: 1px solid #999;
	}

	.create__button {
		width: 100%;
	}
}

/*TEST*/
@media (max-width: 450px) {	
	.auction-box {
		border: none;
		border-radius: 0;
	}
}

.auction__image-container {
	width: 100%;
	height: 150px;
	margin: 0 0 15px 0;
	overflow: hidden;
}

.auction__price {
	height: 35px;
}

.auction__name {
	width: 100%;
	height: 50px;
	font-weight: bold;
	text-align: center;
}

.hidden:hover {
	transform: none;
	box-shadow: none;
	cursor: auto;
}

.paginator {
	max-width: 500px;
	width: 100%;
	margin: 20px 40px;
}

.paginator__elem_current {
	border: 1px solid #eee;
	border-radius: 40px;
	padding: 5px 10px;
	box-shadow: 0 0 5px 0 #eee;
}

.paginator__arrow_right,
.paginator__arrow_left {
	border: 1px solid #eee;
	border-radius: 40px;
	box-shadow: 0 0 5px 0 #eee;
	padding: 5px 5px;
	color: #000;
}

.paginator__arrow_right:hover,
.paginator__arrow_left:hover {
	color: #09f;
	background: #eef;
}

@media (max-width: 450px) {	
	.paginator {
		width: 90%;
	}
}